h1 {
    color: white;
    background-color:black;
    font-size:35;
    padding:50px;
    text-align: center;
  }
.main {
    color:white;
    background-color:black;
    font-size:20;
    text-align:center;
}